@font-face {
        font-family: Tahoma;
        src: url(../fonts/Tahoma.ttf);
}

body {
font-family: Tahoma, Arial, sans-serif;
}

.wrapper{
	margin: 0 auto;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	width: 1280px;
	padding-top: 38px;
	font-family: Tahoma, Arial, sans-serif;
}

.main {
	background: white;
	width: 994px;
	height: 979px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	border-bottom: 2px solid;
}


.header {
	height: 175px;
	clear: both;
}

.logo {
	float: left;
	margin-right: 45px;
        margin-left: 30px;   
        position: relative;
        top: 10px;

}

.contacts {
	position: relative;
	float: right;
	color: #0c739f;
	font-size: 10px;
	line-height: 10px;
        opacity: 0.8;
	margin: 12px 30px 0 250px;
}

.active {
	font-weight: bold;
}

.info li {
	float: left;
	margin: 0 7px 0 7px;


}

.info {
	float: right;
	font-size: 8px;
	text-align: center;
	margin: 60px 33px 6px 0; 
}

.info a {
       color: #128aa7;
       font-size: 10px;}

.header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}



.photo {
        width: 100%;
	display: block;
}

.menu {
	position: relative;
	border-bottom: 1px solid black;
} 

.menu a {
	text-decoration: none;
	color: white;
	padding: 5px 0 0 7px;
	font-size:14px; 
}

.menu li {
	padding-top: 3px;
	float: left;
	background: #303030;
	width: 142px;
	height: 25px;
}

.class {
	text-align: center;
}

.menu_nav {
	position: relative;
}

.dropdown {
	position: absolute;
	width: 100%;
	top: 100%;
	display: none;
}

.menu_nav:hover .dropdown {
	display: block;
	width: 100%
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.menu_item::after {
	position: relative;
	content: " ";
	border: 3px solid transparent;
	border-top: 5px solid white;
	top: 12px;
        left: 8px;
}

.menu_nav::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.column{
	width: 994px;
}

.leftColona {
	background: #edeef0;
	float: left;
	height: 541px;
	width: 207px;
	border-right: 1px solid #c7cacf;
        text-align: center;
        font-size: 14px;
        line-height: 24px; 
	box-sizing:border-box;
}

.centerColona {
	height: 541px;
	float: left;
	width: 580px;
}
.rightColona {
	background: #edeef0;
	float: left;
	height: 541px;
	width: 207px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
	border-left: 1px solid #c7cacf; 
	box-sizing:border-box;
}
.center_info p{
	padding: 0 20px 0 17px;
	font-size: 14px;
	line-height: 16px;
}
.center_info ul{
	padding: 0 20px 0 17px;
	font-size: 14px;
	line-height: 16px;
}

.center_info:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.interesting  {
	text-align: center;
	color: #424c43;
	font-size: 18px;
	font-weight: bold;
	margin: 14px 14px 12px 0; 
}

.footer{
	color: white;
        opacity: 0.8;
	text-align: center;
	font-size: 12px;
	margin-top: -10px;
        padding: 25px;
}









